/* -- About Section Start From here -- */
#about-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
  
    }
    .about-right{
    width: 57%;
    }
    .about-right ul li{
    display: flex;
    align-items: center;
    }
    .about-right h1{
    color: #e74d06;
    font-size: 37px;
    margin-bottom: 5px;
    }
    .about-right p{
    color: #444;
    line-height: 26px;
    font-size: 15px;
    }
    .about-right .address{
    margin: 25px 0;
    }
    .about-right .address ul li{
    margin-bottom: 5px;
    }
    
    .address .saprater{
    margin: 0 35px;
    }
    .about-right .expertise ul{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .expertise h3{
    margin-bottom: 1px;
    }
    